html {
    overflow-y: scroll;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #f6f8fa;
    font-family: Tahoma;
    margin: 0;
}

header {
    width: 100%;
    color: #bbb;
    background-color: #24292e;
    padding: 0.5em;
    font-weight: bold;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.18);
}

header a {
    color: white;
    text-decoration: none;
}

.box h2 {
    font-size: 1em;
    font-weight: 800;
    background: #B5E0FF;
    color: black;
    margin: 0;
    padding: 4px 4px 6px 8px;
}

.box .entry {
    margin: 0.8em 1em 1.8em 1em;
}

.box .entryimg {
    margin: 0;
}

div#main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

aside {
    width: 300px;
    max-width: 300px;
    -webkit-box-flex: 1;
    -ms-flex: 1 300px;
    flex: 1 300px;
}

div#main {
    -webkit-box-flex: 2;
    -ms-flex: 2 1200px;
    flex: 2 1200px;
    max-width: 1200px;
}

table.main-table {
    table-layout: fixed;
    margin: 10px 0;
    width: 100%;
    max-width: 1500px;
}

table.main-table tr {
    vertical-align: top;
}

.box {
    border: 1px solid #888;
    margin: 1em;
    background: white;
    color: black;
    border-radius: 3px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.18);
}

.box-nobox {
    border: none;
    background: none;
    box-shadow: none;
}

.box-nobox h2 {
    background: none;
}

.userpic {
    text-align: center;
    margin-top: 8px;
}

#navbar ul {
    list-style: none;
    padding: 0;
    margin: 0.5em;
}

#navbar ul.contents {
    list-style: square;
    padding-left: 1.5em;
    margin: 0.5em;
}

a {
    color: #0068cf;
}

a[target="_blank"]:after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin-left: 3px;
}

a.bigbluebutton {
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    color: white;
    padding: 6px 24px;
    border-radius: 6px;
    border: 1px solid #337fed;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
    cursor: pointer;
}

a.bigbluebutton:after {
    content: none;
}
